body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(35,51,124);
    background: linear-gradient(0deg, rgba(35,51,124,1) 5%, rgba(14,20,64,1) 51%);
    height: 100vh;
    overflow: hidden;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    padding: 20px;
}

.mainMenu:hover {
    top: -20px;
}

.logo {
    margin: 0 auto;
    width: 300px;
    background-color: bisque;
    border-radius: 10px;
    object-fit: contain;
}


.buttons {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.buttons button {
    width: 100px;
    padding: 12px;
    cursor: pointer;
}

.mainMenu:hover .buttons {
    opacity: 1;
    transform: translateY(0);
}